body{
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}


#wrap {
    display: grid;
    width: 1310px;
    height: 800px;
    grid-template-areas:
        "arrangementBox SynergyBoxWrap"
        "championBoxWrap recommendChampion";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 710px 560px;
    align-items: center;
}

#arrangementBox {
    grid-area: arrangementBox;
    border: 1px solid black;
    height: 300px;
    width: 700px;
    overflow-x: hidden;
    justify-self: start;
}

#SynergyBoxWrap{
    grid-area: SynergyBoxWrap;
    justify-self: end;
    position: relative;
    margin-top: 0;
}

#SynergyBoxTitle{
    margin-top: 0;
    margin-bottom: 5px;
}

#arrangementBoxTitle{
    margin-bottom: 5px;
}

#recommendChampionTitle{
    margin-top: 0;
    margin-bottom: 5px;
}

#recommendChampionWrap{
    margin-bottom: 5px;    
}

#buttonAndSearchWrap{
    margin-bottom: 3px;
}

#SynergyBox {
    border: 1px solid black;
    height: 300px;
    width: 400px;
    overflow-x: hidden;

}

#championBoxWrap {
    grid-area: championBoxWrap;
    justify-self: start;
}

#championBox {
    border: 1px solid black;
    height: 300px;
    width: 550px;
    overflow-x: hidden;;
    
    
}

#recommendChampion {
    grid-area: recommendChampion;
    border: 1px solid black;
    height: 300px;
    width: 550px;
    justify-self: end;
    overflow-x: hidden;
}

.tab {
    width: 80px;
    height: 30px;
}
  
 
.championText{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -52%, 20% );
    font-weight: 500;
    color: white;
    font-size: 12px;
    width: 60px;
    height: 45px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.championWrap{
    border: 1px solid black;
    height: 60px;
    width: 60px;
    margin: 5px 5px 5px 5px;
    display: inline-table;
    position: relative;
    cursor: pointer;
}

.clone {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-table;
}

.jobTab {
    border: 1px solid black;
    height: 30px;
    display: flex;
    align-items: center;
}


.lineTab {
    border: 1px solid black;
    height: 30px;    
    display: flex;
    align-items: center;
}


#search {
    height: 30px;
    width: 210px;
}

.synergyDiv{
    border: 1px solid black;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
}

.synergyDiv:hover {
    background-color: bisque;
}

.synergyExplanation{
    border: 1px solid black;
    height: 150px;
    width: 300px; 
    background-color: black;
    color: white;
    position: fixed;
    /* right: 0; */
    top: 0;
    opacity: 0.9;
    white-space: pre-line;
    font-size: 14px;
    height: auto;
    padding: 10px;
    z-index: 10;
}

.disabledSynergy{
    opacity: 0.5;
}



.championWrap:hover{
    opacity: 0.8;
}

.championImg{
    width: 100%;
	vertical-align: middle;
}

.synergyImg{
    background-color: black;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.synergyTabText{
    margin-left: 5px;
}

.synergyBoxImg{
    background-color: black;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.3;
}

.activationLevel0{
    background-color: black;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.3;
}


.activationLevel1{
    background-color: rgba(232,138,82);
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
}

.activationLevel2{
    background-color: rgba(183,209,212);
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
}

.activationLevel3{
    background-color: rgba(252,225,123);
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
}

.activationLevel4{
    background-color: rgb(205,254,241);
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
}