body{
    display: flex;
    justify-content: center;
}


#wrap {
    display: grid;
    width: 1310px;
    height: 800px;
    grid-template-areas:
        "arrangementBox SynergyBox"
        "championBoxWrap recommendChampion";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 710px 560px;
    align-items: center;
}

#arrangementBox {
    grid-area: arrangementBox;
    border: 1px solid black;
    height: 300px;
    width: 700px;
    overflow: scroll hidden;
    justify-self: start;
}

#SynergyBox {
    grid-area: SynergyBox;
    border: 1px solid black;
    height: 300px;
    width: 400px;
    overflow: scroll hidden;
    justify-self: end;
}


#championBoxWrap {
    grid-area: championBoxWrap;
    justify-self: start;
}

#championBox {
    border: 1px solid black;
    height: 300px;
    width: 550px;
    overflow: scroll;
    
    
}

#recommendChampion {
    grid-area: recommendChampion;
    border: 1px solid black;
    height: 300px;
    width: 550px;
    justify-self: end;
}

.tab {
    width: 80px;
    height: 30px;
}

.champion {
    border: 1px solid black;

    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-table;
}

.clone {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-table;
}

.jobTab {
    border: 1px solid black;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}


.lineTab {
    border: 1px solid black;
    height: 30px;
    margin-bottom: 30px;
}


#search {
    height: 30px;
    width: 210px;
}
